.mapControl {
  @apply absolute top-10 left-0 flex px-[70px] justify-between w-full items-center;
  .selectPrefix {
    @apply w-[310px] bg-white py-2;
    :global(.ant-cascader-dropdown) {
      left: -33px !important;
    }
    :global(.ant-cascader-menu-item) {
      width: 300px;
    }
    :global(.ant-cascader-menu) {
      height: 300px;
    }
  }
  .searchType {
    @apply flex gap-4;
    .info {
      @apply flex gap-2  opacity-100 py-2 px-4 items-center cursor-pointer h-fit;
      font-family: "Whitney";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.07em;
      border: 1px solid #404040;
    }
    .active {
      @apply bg-gray-400;
    }
  }
}

@media (max-width: 768px) {
  .mapControl {
    @apply px-5 bg-white h-[122px] top-0 py-4 items-start relative;
    .searchMobile {
      @apply flex items-center h-[46px] w-full p-4 relative;
      border: 1px solid rgba(64, 64, 64, 0.2);
      font-family: "Whitney Book";
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.006em;
      color: #404040;
    }
    .underSearchMobile {
      @apply flex justify-between items-center mt-4;
    }
    .sortIcon {
      @apply w-5 h-5 text-black mr-2;
      img {
        display: flex !important;
      }
    }
    .searchType {
      @apply gap-0 items-center;
      img {
        @apply hidden;
      }
      .properties {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
      }
      .info {
        @apply h-7 px-3 text-[#90744F];
        border: 1px solid #e8e8e8;
      }
      .active {
        @apply bg-[#90744F] text-white;
      }
    }
  }
}
