.hotelCard {
  @apply w-full relative cursor-pointer;

  .thumbnailContainer {
    @apply w-full h-full;
    overflow: hidden;
  }
  .thumbnail {
    @apply w-full h-full object-cover;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.5);
    }
  }
  .info {
    @apply absolute w-full h-full bottom-0 left-0 text-white gap-2 p-4 flex flex-col justify-end;

    background: linear-gradient(
        180deg,
        rgba(129, 100, 62, 0) 47.18%,
        rgba(144, 116, 79, 0.5) 100%
      ),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 60.72%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: normal, multiply;

    .name {
      @apply text-[#F3F3F3] text-xl;
      font-family: Whitney;
      letter-spacing: 0.01em;
    }
    .priceAndLocation {
      @apply text-sm flex gap-6;
      font-family: "Whitney Book";
    }
  }
}
