@import "styles/variables.scss";

.footer {
  border-top: 1px solid rgba(64, 64, 64, 0.2);
  .signupContainer {
    @apply mx-auto flex justify-between pt-8 pb-12 items-center;
    max-width: $mWidth;
    border-bottom: 1px solid #e8e8e8;
    .title {
      font-family: "Goudy Old Style";
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.05em;
      width: 20%;
    }
    .sub {
      font-family: Whitney Book;
      font-size: 14px;
      line-height: 20px;
      max-width: 40%;
      letter-spacing: 0.006em;
      opacity: 0.8;
    }
    button {
      @apply text-white h-[50px] flex items-center justify-center rounded-none;
      background-color: #90744f;
      font-family: "Whitney";
      font-size: 12px;
      width: 20%;
      transition: all 0.3s;
      &:hover {
        background-color: white;
        color: #90744f;
        border-color: #90744f;
      }
    }
  }

  .cocoonInfo {
    @apply mx-auto flex py-12 justify-between;
    max-width: $mWidth;
    .left {
      @apply flex flex-col gap-[58px];
      width: 20%;
      font-family: Whitney Book;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.006em;
      color: #585858;
      opacity: 0.8;
      img {
        width: 150px;
        height: auto;
      }
    }
    .middle {
      @apply max-w-[40%] flex justify-between w-full;
      .cocoon {
        @apply flex flex-col;
        h4 {
          font-family: "Goudy Old Style";
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
          margin-bottom: 24px;
        }
        a {
          margin-bottom: 8px;
          font-family: "Whitney Book";
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.006em;
          color: #585858;
          opacity: 0.8;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .contact {
        h4 {
          font-family: "Goudy Old Style";
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
          margin-bottom: 24px;
        }
        .info {
          @apply flex gap-2 items-center;
          margin-bottom: 8px;
          font-family: "Whitney Book";
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.006em;
          color: #585858;
          opacity: 0.8;
          &:last-child {
            margin-bottom: 0;
          }
          img {
            @apply h-4 w-4;
            opacity: 0.3;
          }
        }
      }
    }
    .seoDaddy {
      width: 20%;
      @apply flex justify-end items-end;
      img {
        height: 32px;
        width: auto;
        cursor: pointer;
      }
    }
  }

  .logo {
    @apply h-8 w-[150px];
  }

  .copyrightContainer {
    border-top: 1px solid #e8e8e8;
    .copyright {
      @apply mx-auto py-[26px] flex justify-between;
      max-width: $mWidth;
    }
    .left {
      font-family: "Whitney Book";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.006em;
    }
    .right {
      @apply flex;
      h5 {
        font-family: "Whitney Book";
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.006em;
        margin-right: 17px;
      }
    }
  }

  .socialMedia {
    @apply flex gap-5;
    img {
      @apply w-6 h-6 cursor-pointer;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .signupContainer {
      @apply flex-col items-baseline justify-normal px-8 gap-4 pb-8;
      .title,
      .sub {
        @apply w-full max-w-full;
      }
      .title {
        @apply text-xl;
      }
      button {
        @apply w-full;
      }
    }
    .logo {
      @apply h-6 w-[112px];
    }
    .cocoonInfo {
      @apply flex-col pt-8 px-8 gap-6 pb-8;
      .left {
        @apply w-full gap-4;
        img {
          @apply h-6 w-fit;
        }
      }
      .middle {
        @apply max-w-full flex-col gap-6;
        .cocoon {
          h4 {
            @apply mb-4;
          }
        }
        .contact {
          h4 {
            @apply mb-4;
          }
        }
      }
      .seoDaddy {
        @apply w-fit;
      }
    }
    .copyrightContainer {
      .copyright {
        @apply flex-col px-8 py-4 gap-6;
        .left {
          @apply w-[80%];
        }
        .right {
          @apply justify-between;
        }
      }
    }
    .socialMedia {
      @apply gap-5;
      img {
        @apply w-4 h-4;
      }
    }
  }
}
