@import "styles/variables.scss";

.slideShowContainer {
  @apply relative;
  max-width: $mWidth;
  .slideShow {
    @apply w-full h-full;
    img {
      @apply w-full object-cover h-full;
    }
  }

  .leftArrowCard {
    @apply left-0 absolute bottom-0 text-[10px] text-white p-4 cursor-pointer;
    :global(.anticon) {
      font-size: 18px;
    }
  }

  .rightArrowCard {
    @apply right-0 absolute bottom-0 text-[10px] text-white p-4 cursor-pointer;
    :global(.anticon) {
      font-size: 18px;
    }
  }

  .leftArrow {
    @apply left-6 absolute top-1/2  text-[40px] text-white cursor-pointer;
  }

  .rightArrow {
    @apply right-6 absolute top-1/2  text-[40px] text-white cursor-pointer;
  }

  :global(.slick-dots-bottom) {
    @apply bottom-[25px] max-w-[70%] mx-auto;
  }

  :global(.slick-list),
  :global(.ant-carousel),
  :global(.slick-track),
  :global(.slick-slide),
  :global(.slick-slide > div) {
    @apply h-full;
  }
}
