@import "styles/variables.scss";

.holidayContainer {
  @apply mx-auto mt-[168px];
  width: $mWidth;
  .header {
    @apply px-[105.5px] flex justify-between mb-8 items-end;
    .leftHeader {
      div:first-child {
        font-family: "Goudy Old Style";
        font-size: 40px;
        line-height: 48px;
      }
      div {
        font-family: "Whitney Book";
        font-size: 18px;
        line-height: 24px;
      }
    }
    .rightHeader {
      @apply flex items-end gap-4 text-[16px] cursor-pointer h-fit self-end;
      transition: all 0.3s;
      font-family: Whitney;
      span {
        @apply mb-[1px];
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .listHotel {
    display: grid;
    grid-template-areas: "item1 item2 item3";
    gap: 24px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .holidayContainer {
    @apply px-8 w-full mt-[62px];
    .header {
      @apply px-0;
      .leftHeader {
        div {
          font-size: 14px;
          line-height: 20px;
          padding-right: 10%;
          &:first-child {
            font-size: 32px;
            line-height: 40px;
            padding-right: 0;
          }
        }
      }
      .rightHeader {
        @apply hidden;
      }
    }
    .listHotel {
      @apply flex h-auto overflow-auto;
      .hotel {
        @apply h-[192px] min-w-[80%];
      }
    }
    .checkAll {
      @apply mt-[44px] gap-2 flex;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
