@import "styles/variables.scss";

.enquiryPage {
  .upperForm {
    @apply mx-auto flex flex-col mt-6 mb-[120px];
    max-width: $mWidth;
  }
  h1 {
    margin-top: 16px;
    font-family: "Goudy Old Style";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #90744f;
  }
  .backBtn {
    @apply flex items-center cursor-pointer gap-4;
    font-family: "Whitney";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07em;
    color: #404040;
  }
  .form {
    @apply px-[212px] flex flex-col gap-4 pb-[112px] pt-8;
  }
  .hotelCard {
    @apply h-[250px] mb-4;
  }
  .enquiryBannerWrapper {
    @apply grid grid-cols-2 px-[106px] gap-[106px] items-center w-full;
  }
  .enquiryBanner {
    @apply h-[350px] w-[530px] object-cover;
  }
  .enquiryIntro {
    @apply flex flex-col;
    font-family: "Whitney Book";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.006em;
    color: #404040;
    h4 {
      font-family: "Goudy Old Style";
      font-weight: 400;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.05em;
      color: #90744f;
    }

    .info {
      @apply flex gap-2 items-center;
      margin-bottom: 8px;
      font-family: "Whitney Book";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.006em;
      color: #585858;
      opacity: 0.8;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        @apply h-4 w-4;
        opacity: 0.3;
      }
    }
  }
}

@media (max-width: 768px) {
  .enquiryPage {
    .backBtn {
      @apply px-8;
      span {
        @apply hidden;
      }
    }
    h1 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    .hotelCard {
      @apply h-[192px];
    }
    .upperForm {
      @apply mb-[80px];
    }
    .form {
      @apply px-8 pt-0 pb-20;
    }
    .enquiryBannerWrapper {
      @apply px-8 grid-cols-1 gap-6;
    }
    .enquiryBanner {
      @apply h-[177px] w-full;
    }
    .enquiryIntro {
      h4 {
        font-size: 20px;
        line-height: 24px;
      }
    }
    :global(.ant-divider) {
      @apply my-4;
    }
  }
}
