@import "styles/variables.scss";

.intro {
  background: #f2eee8;
  padding-block: 0px;
  margin-top: 76px;
  .introContainer {
    @apply mx-auto flex items-center justify-between gap-[106px];
    max-width: $mWidth;
    padding-left: 107px;
  }
  .leftContent {
    flex: 1;
  }
  .title {
    font-family: "Goudy Old Style";
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
    max-width: 300px;
  }
  .description {
    font-family: Whitney Book;
    line-height: 20px;
    letter-spacing: 0.006em;
  }
  img {
    width: 55%;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .intro {
    @apply mt-[80px] pt-[80px] pb-16;
    .introContainer {
      @apply flex-col px-8 flex-col-reverse gap-10;
      .leftContent {
        .title {
          font-size: 32px;
          line-height: 40px;
        }
        .description {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    img {
      @apply w-full h-[195px];
    }
  }
}
