.segmentSelector {
  @apply flex gap-2;
}
.segmentOption {
  @apply w-7 h-7 rounded-full flex justify-center items-center cursor-pointer text-sm;
  font-family: "Whitney Book";
  letter-spacing: 0.006em;
  border: 1px solid #e8e8e8;
  &:first-child,
  &:last-child {
    @apply py-1 px-6;
    border-radius: 14px;
  }
}
.selectedOption {
  @apply text-white py-1 px-3;
  background-color: #90744f;
}
