.drawer {
  .drawerWrapper {
    @apply flex flex-col justify-between h-full;
  }
  :global(.ant-drawer-wrapper-body) {
    background: url("/homepage/drawerBg.png");
  }
  .content {
  }
  .logo {
    @apply h-6 w-[112px];
  }
  :global(.anticon-close) {
    svg {
      @apply h-6 w-6 text-white mr-0 pr-0;
    }
  }
  .searchVilla {
    @apply pt-8 pb-4;
    font-family: "Whitney Book";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.006em;
    color: #ffffff;
    opacity: 0.5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    &::placeholder {
      color: #ffffff;
    }
  }

  .drawerList {
    @apply flex flex-col gap-6 mt-12;
    font-family: "Goudy Old Style";
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  .collapseList {
    @apply flex flex-col gap-4 text-white w-full;
    font-family: "Whitney";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    h4,
    svg {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .rightArrow {
    @apply w-4 h-4 text-white;
  }
  .footer {
    @apply flex justify-between items-center;
    .socialMedia {
      @apply flex items-center gap-5;
      filter: invert(100%) sepia(7%) saturate(0%) hue-rotate(13deg)
        brightness(153%) contrast(101%);
      & > div {
        @apply w-4 h-4;
      }
    }
  }
  .followUs {
    font-family: "Whitney Book";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.006em;
    color: #ffffff;
  }
  :global(.ant-collapse > .ant-collapse-item > .ant-collapse-header) {
    @apply p-0;
    font-family: "Goudy Old Style";
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #ffffff;
    border-radius: 0 !important;
    width: fit-content;
  }
  :global(.ant-collapse-item-active > .ant-collapse-header) {
    color: #bc9562 !important;
    padding-bottom: 8px;
    border-bottom: 1px solid #bc9562;
  }
  :global(.ant-collapse-ghost) {
    @apply gap-6 flex flex-col;
  }
  :global(.ant-drawer-content-wrapper) {
    width: 100% !important;
  }
  :global(
      .ant-collapse-ghost
        > .ant-collapse-item
        > .ant-collapse-content
        > .ant-collapse-content-box
    ) {
    @apply px-0 gap-2 flex flex-col;
    font-family: "Whitney";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
