@import "styles/variables.scss";

.serviceContainer {
  @apply mt-[171px] flex mx-auto items-center justify-between gap-[76px];
  max-width: $mWidth;
  .imgSelection {
    @apply w-[400px] h-[250px] text-white gap-2 flex flex-col justify-end z-[1] relative;

    background: linear-gradient(
        180deg,
        rgba(129, 100, 62, 0) 47.18%,
        rgba(144, 116, 79, 0.5) 100%
      ),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 60.72%, rgba(0, 0, 0, 0.5) 100%);
    background-blend-mode: normal, multiply;

    .serviceDetail {
      @apply text-[#F3F3F3] text-xl absolute bottom-5 left-5 gap-2 flex flex-col;
      font-family: Whitney;
      letter-spacing: 0.01em;
    }
    .description {
      @apply text-sm flex gap-6;
      font-family: "Whitney Book";
    }
    img {
      @apply w-full h-full object-cover;
      transition: all 0.3s;
    }
  }

  h4 {
    font-size: 40px;
    line-height: 48px;
    font-family: Goudy Old Style;
    margin-bottom: 24px;
  }
  .subTitle {
    font-size: 18px;
    line-height: 24px;
    font-family: Whitney Book;
  }

  .serviceSelection {
    @apply flex flex-col w-[60%];
  }

  .serviceList {
    @apply mt-[38px] mb-[30px] flex gap-6 items-center;
    .service {
      @apply cursor-pointer;
      font-family: Whitney Book;
      font-size: 14px;
      line-height: 20px;
      color: #404040;
      opacity: 0.5;
      transition: all 0.3s;
      .serviceName {
        font-size: 20px;
        line-height: 24px;
        font-family: Goudy Old Style;
        letter-spacing: 0.05em;
        margin-bottom: 8px;
      }
    }
    .active {
      opacity: 1;
    }
    :global .ant-divider {
      margin: 16px 0;
    }
  }
}

@media (max-width: 768px) {
  .serviceContainer {
    @apply px-8 flex flex-col mt-[64px] gap-0;
    .imgSelection {
      @apply w-full;
    }
    h4 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 16px;
    }
    .subTitle {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 32px;
    }
    .serviceSelection {
      @apply w-full;
    }
    img {
      @apply h-[309px] w-full;
    }
    .serviceList {
      @apply w-full mt-4;
    }
  }
}
