.propertyIntro {
  @apply text-[#404040] flex flex-col justify-center w-full;
  font-family: "Whitney";
  .name {
    @apply uppercase;
    font-family: "Goudy Old Style";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
  .nameAndPrice {
    @apply flex justify-between mt-2;
  }
  .price {
    @apply flex items-end;
  }
  .propertyLocation {
    @apply text-base uppercase opacity-70 tracking-wider;
  }
  .tagLine {
    font-family: "Whitney";
    margin-bottom: 8px;
  }
  .description {
    @apply mt-[38px];
    font-family: "Whitney Book";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #404040;
  }
  .roomInfo {
    @apply flex gap-5 mt-10;
    .roomItem {
      @apply flex items-center gap-3;
      font-family: "Whitney Book";
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #404040;
    }
  }
}

@media (max-width: 768px) {
  .propertyIntro {
    @apply px-5;
    .propertyLocation {
      @apply text-xs;
    }
    .nameAndPrice {
      @apply flex-col;
    }
    .roomInfo {
      @apply grid grid-cols-2 mt-5;
      .roomItem {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .name {
      font-size: 20px;
      line-height: 24px;
    }
    .price {
      @apply flex gap-1 mt-3 items-center;
      font-size: 12px;
      line-height: 14px;
      h6 {
        font-size: 20px;
        line-height: 24px;
      }
    }
    :global(.anticon-heart > svg) {
      @apply h-6 w-6;
    }
  }
}
