.mainTab {
  @apply mt-[120px];
  .tabBar {
    :global(.ant-tabs-nav-wrap) {
      @apply justify-center;
    }
    :global(.ant-tabs-nav:before) {
      border: none;
    }
    :global(.ant-tabs-tab > .ant-tabs-tab-btn) {
      font-family: "Whitney";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #404040;
      opacity: 0.5;
    }
    :global(.ant-tabs-tab-active > .ant-tabs-tab-btn) {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .mainTab {
    @apply mt-10;
    :global(.ant-tabs-nav) {
      @apply px-5;
    }
    .tabBar {
      :global(.ant-tabs-tab > .ant-tabs-tab-btn) {
        font-size: 16px;
        line-height: 18px;
        text-transform: capitalize;
      }
      :global(.ant-tabs-tab) {
        @apply ml-4;
        &:first-child {
          @apply ml-0;
        }
      }
    }
  }
}
