@import "styles/variables.scss";

.homepage {
  .videoWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(
          180deg,
          rgba(129, 100, 62, 0) 41.67%,
          rgba(144, 116, 79, 0.25) 100%
        );
      pointer-events: none; /* So you can still interact with the video controls */
    }
  }
  .youtubeEmbed {
    width: 100%;
    height: auto;
  }
  .slideShow {
    @apply mt-[119px] mx-auto h-[560px];
  }
  .banner {
    @apply absolute flex flex-col justify-between top-1/3 left-0 right-0 mx-auto items-center;
    width: $mWidth;
    .leftBanner {
      @apply text-white  flex flex-col items-center;
      .headerTitle {
        @apply text-[64px] leading-[77px];
        font-family: "Goudy Old Style";
      }
      .headerSub {
        @apply text-2xl pt-4;
        font-family: "Gill Sans";
      }
    }
  }
}

@media (max-width: 768px) {
  .homepage {
    @apply flex flex-col;
    .banner {
      @apply w-auto top-[55%];
      .leftBanner {
        @apply text-center;
        .headerTitle {
          font-size: 32px;
          line-height: 38px;
        }
        .headerSub {
          font-size: 16px;
        }
      }
    }
    .videoWrapper {
      @apply h-[812px];
      video {
        @apply h-full object-cover;
      }
    }
    .slideShow {
      @apply max-w-full mt-16 h-[400px];
    }
  }
}
