.videoTab {
  @apply bg-[#F2EEE8] grid grid-cols-2 py-[64px] px-[106px] gap-6;
  font-family: "Whitney Book";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #404040;
}
