@import "styles/variables.scss";

.sayAboutUs {
  @apply mt-[186px] mx-auto;
  max-width: $mWidth;
  padding-inline: 107px;
  .title {
    font-size: 40px;
    line-height: 48px;
    font-family: "Goudy Old Style";
    margin-bottom: 47px;
    text-align: center;
  }
  .carousel {
    @apply flex items-center justify-between;
    .leftArrow,
    .rightArrow {
      font-size: 24px;
      cursor: pointer;
    }
    .content {
      @apply flex flex-col gap-6 items-center;
      width: 50%;
    }
    .picture {
      @apply w-[240px] h-[240px] rounded-full;
    }
  }
  .description {
    @apply text-sm;
    max-width: 444px;
    opacity: 0.6;
    font-family: Whitney Book;
    letter-spacing: 0.006em;
    text-align: center;
    color: #bd9a7b;
  }
  .name {
    @apply text-xs;
    font-family: Whitney;
    letter-spacing: 0.05em;
  }
}

@media (max-width: 768px) {
  .sayAboutUs {
    @apply mt-[130px] px-8;
    .title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 56px;
    }
    .carousel {
      .leftArrow,
      .rightArrow {
        @apply w-8 h-8;
      }

      .content {
        .picture {
          @apply h-[124px] w-[124px];
        }
      }
    }
    .description {
      @apply mt-6;
    }
    .name {
      @apply mt-6 text-center;
    }
  }
}
