@import "styles/variables.scss";

.headerContainer {
  @apply absolute top-0 left-0 flex w-full text-white z-[1];

  .headerContent {
    @apply flex flex-row mx-auto justify-between border-b-[1px] border-opacity-50 border-[#E8E8E8] items-center;
    width: $mWidth;
  }
  .whiteContent {
    color: #404040;
  }
  .logo {
    @apply h-8 object-cover cursor-pointer;
  }
  .headerMenu {
    @apply flex flex-row items-center gap-8 text-sm;
    img {
      filter: invert(24%) sepia(7%) saturate(4%) hue-rotate(355deg)
        brightness(100%) contrast(96%) !important;
    }
    span,
    div {
      @apply cursor-pointer;
    }
    .nonActive,
    a {
      @apply py-8;
    }
  }
  .active {
    border-bottom: 2px solid white;
  }
  .activeBlack {
    border-bottom: 2px solid black;
  }
  .dropdown {
    @apply flex flex-row items-center gap-[10px];
  }
  .contactInfo {
    @apply flex flex-row gap-8 items-center;
    img {
      filter: invert(24%) sepia(7%) saturate(4%) hue-rotate(355deg)
        brightness(100%) contrast(96%) !important;
    }
    .searchInput {
      @apply max-w-[120px];
      :global(.ant-input) {
        @apply text-white;
      }
      :global(.ant-input::placeholder) {
        @apply text-white opacity-50 pl-6;
      }
    }
    .searchInputBlack {
      :global(.ant-input) {
        @apply text-black;
      }
      :global(.ant-input::placeholder) {
        @apply text-black;
      }
    }
    .searchIcon {
      @apply w-4 h-4 text-white;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(172deg)
        brightness(103%) contrast(103%);
    }
    .bookBtn {
      @apply px-6 py-[18px] cursor-pointer text-xs;
      border: 1px solid #ffffff;
      letter-spacing: 0.05em;
    }
    .bookBtnBlack {
      @apply border-black;
    }
  }
}
.whiteHeader {
  background: white;
  position: relative;
}

.dropdownMenu {
  :global .ant-dropdown-menu {
    @apply rounded-none p-0;
  }
  :global(.ant-dropdown-menu-item) {
    padding: 10px !important;
  }
  :global(.ant-dropdown-menu-submenu-title) {
    padding-block: 10px !important;
  }
}

@media (max-width: 768px) {
  .headerContainer {
    .logo {
      @apply h-6;
    }
    .headerContent {
      @apply w-full mx-8 mt-8 pb-8;
      .contactInfo,
      .headerMenu {
        @apply hidden;
      }
    }
  }
}
