@import "styles/variables.scss";

.calendar {
  @apply w-[644px] h-auto mx-auto flex flex-col gap-16 mt-[100px];
  h1 {
    font-family: "Goudy Old Style";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #90744f;
  }
  .mainView {
    @apply w-full bg-[#F2EEE8] px-[34px] pt-[27px] pb-8 flex flex-col gap-6;
  }
  .calendarNote {
    @apply bg-white gap-4 py-2 px-4 h-auto w-full flex;
    .note {
      font-family: "Whitney";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #404040;
    }
  }
  .doubleCalendar {
    @apply flex;
  }
  .chooseDate {
    @apply flex flex-col gap-5 py-6 px-8 bg-white w-full;
  }
  .priceTotal {
    @apply flex flex-col gap-2;
    span {
      font-family: "Whitney";
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.07em;
      color: #404040;
    }
  }
  .selectedRange {
    @apply bg-[#90744F] text-white;
  }
  .enquiryButton {
    @apply py-4 px-[54px] h-auto w-fit self-center;
    background-color: $primaryColor;
    font-family: "Whitney";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  .firstDateDisabled {
    @apply relative flex justify-center;
    background: transparent !important;
    & > abbr {
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 210px 200px;
      border-color: transparent transparent #e8e8e8 transparent;
    }
  }
  .lastDateDisabled {
    @apply relative flex justify-center;
    background: transparent !important;
    & > abbr {
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 200px 188px 0 0;
      border-color: #e8e8e8 transparent transparent transparent;
    }
  }
  :global(.react-calendar) {
    @apply p-4;
    border: none;
  }
  :global(.react-calendar__navigation__label__divider) {
    display: none;
  }
  :global(.react-calendar__navigation) {
    @apply h-8 mb-0;
  }
  :global(.react-calendar__month-view__days__day) {
    font-family: "Whitney";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #404040;
  }
  :global(.react-calendar__month-view__days__day--neighboringMonth) {
    opacity: 0.3;
  }
  :global(.react-calendar__month-view__days__day:disabled) {
    background: #e8e8e8;
    color: rgba(64, 64, 64, 0.15);
  }
  :global(.react-calendar__month-view__days__day:disabled:first-child) {
    background: red;
  }

  :global(.react-calendar__navigation__label) {
    @apply flex px-0 justify-center items-center;
    font-family: "Whitney";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #404040;
    pointer-events: none;
  }
  :global(.react-calendar__month-view__weekdays__weekday) {
    font-family: "Whitney Book";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.006em;
    text-transform: capitalize;
    color: #404040;
    opacity: 0.7;
  }
  :global(.react-calendar__month-view__weekdays__weekday > abbr) {
    text-decoration: none;
    cursor: auto;
  }
  :global(.react-calendar__month-view__weekdays) {
    border-bottom: 1px solid rgba(64, 64, 64, 0.2);
  }
  :global(.react-calendar__tile--range) {
    @apply bg-[#90744F] text-white relative;
  }
  :global(.react-calendar__tile--rangeEnd),
  :global(.react-calendar__tile--rangeStart) {
    @apply bg-white text-black flex justify-center;
  }
  :global(.react-calendar__tile--rangeStart:after) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 210px 200px;
    border-color: transparent transparent #90744f transparent;
  }
  :global(.react-calendar__tile--rangeEnd:after) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 188px 0 0;
    border-color: #90744f transparent transparent transparent;
  }
  :global(.react-calendar__tile--rangeEnd > abbr),
  :global(.react-calendar__tile--rangeStart > abbr) {
    @apply z-[1];
  }
}

@media (max-width: 767px) {
  .calendar {
    @apply w-auto px-5 mt-[60px] gap-6;
    h1 {
      font-size: 20px;
      line-height: 24px;
    }
    .mainView {
      @apply px-4;
    }
    .doubleCalendar {
      @apply flex-col w-fit;
    }
    .calendarNote {
      @apply grid grid-cols-2;
      .note {
        @apply text-xs;
      }
    }
    .enquiryButton {
      @apply w-full;
    }
    :global(.react-calendar) {
      @apply w-full;
    }
  }
}
